nav{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #88847f;
    text-decoration: double;
    font-size: xx-large;
    padding: 0%;
    height: 100px;
    text-align: center;
    border: none;
    border-radius: 0%;
    margin: 0%;
}


.Topic{
    width: 100%;
    height: 50px;
    padding: 5px;
    background-color: rgb(252, 251, 247);
    font-size: xx-large;
    border-style:hidden;
    margin-top: 0px;
    font-style: italic;

    }

div p b {
    font-size: x-large;
    font-style: italic;
}
div p{
    justify-content: space-between;
}

div label b{
    font-size: x-large;
    font-style: italic;
}

.Skills {
    margin-left: 40px;
    list-style-type: disc;

}
@keyframes grow-shrink{
    0%{ 
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
} 


label b{
    font-size: x-large;
    font-style: italic;
}
.end{
    font-size: x-large;
}

.Passport{
    top: 190px;
    right: 10%;
    width: 100px;
    height: 100px;
    padding: 20px;
    position:absolute;
    animation: grow-shrink 4s infinite alternate-reverse;
    
    ;}

table{
    margin-left: 90px;
    border-width: thin;
    border-style: solid;
    justify-content:stretch;
    background-color: #ecebeb;
}

th,td{
    padding: 8px;
}
    

tr:nth-child(odd){
    background-color: rgb(255, 251, 247);
}
tr:nth-child(even){
    background-color: rgb(241, 241, 241);
}
#tablehead{
    background-color: black;
    font-weight: bold;
    color: azure;
    border-left-color: black;
}

fieldset{
    margin: 0px;
    background-color: rgb(252, 251, 247);
    justify-content: center;
    font-size: xx-large;
    border-style:hidden;
    font-style: italic;
    font-weight: bold;
}

#search{
    margin-top: 55px;
}

a{
    
    float: right;
}

form{
    background-color: rgb(252, 251, 247);
    padding: 10px;
    border: 1px solid lightgrey;
    margin: 0px;
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
    
    
}
label{
    display: inline-block;
    text-align: right;
    
}

.input{
    float: right;
    width: 85%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.js{
    float: left;
}

#Brief{
    margin: 0%;
    width: 36%;
    height: fit-content;
    justify-content: space-between;
    text-align: justify;
    text-wrap: wrap;
}

#paragraph{
    margin-left: 40px;
    justify-content: space-around;
    word-spacing: 2px;
}

h3{
    font-weight: 600;
    font-style: initial;
}