#Text1{
    font-size: 15px; font-family: Georgia, 'Times New Roman', Times, serif; color: goldenrod; font-weight: 600;
    font-style: italic;
}

#des {font-size: 15px; font-family: Verdana, Geneva, Tahoma, sans-serif;color: aquamarine; font-weight: 600;
    font-style: oblique;

}
.Textgroup{
    font-size: large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: blue; font-style: italic;
    font-weight: 600;}

div p{
    background-color: none;
}
 

ul>li{
    list-style-type: none; color: black; ; font-style: italic;
    ;
}

nav ul{
    margin: 0;
    padding: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    background-color: black;

    
    
}
nav ul li{
    display: inline-block;
    margin-right: 10px;
    text-shadow: 1px;
    
}
nav ul li a{
    text-decoration: wavy;
    color: #333;
    padding: 10px;
    border-radius: 10px;
    background-color: #f2f2f2;
}
nav ul li a:hover{
    background-color: rgb(208, 250, 236);

}
#First-Container{
    width: 100%;
    height: 500px;
    padding: 20px;
    border: 2px solid white;
    margin: 0px;
    background-color: #fbfbfd;


}
#Second{
    width: 100%;
    height: 500px;
    padding: 20px;
    border: 2px solid black;
    margin: 0px;
    background-color: black;


}
#Third{
    width: 100%;
    height: fit-content;
    padding: 0px;
    border: 2px solid white;
    margin: 0px;
    background-color: #fbfbfd;
    display: flex;
    flex-direction: row;


}
#Fourth{
    width: 100%;
    height: fit-content;
    padding: 0px;
    border: 2px solid white;
    margin: 0px;
    background-color: black;
    display: flex;
    flex-direction: row;


}
.Grid{
    display: grid;
    grid-template-columns: 500px, 500px;


}

.Division {
    border: 2px solid black;
    padding: 10px;
    }
#grid1{
    background-image: url(./Img/IMG_1833.JPG);
    height: 500px;

}


.Container {
    display: flex;
    flex-direction: column;
    height: 100vh;

}
.Top, .Bottom {
    display: flex;
    
    


}

.Box {
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    height: 100vh;
    

}

.float{
    display: flex;
    flex-direction: column;
    height: 40vh;
    align-items: center;
    justify-content: center;
    

}
.semifloat1{
    width: 100px;
    height: 100px;
    background-color: red;
    float: right;

}
.semifloat2{
    margin-right: 120px;



}
.Position{
    background-color: aqua;
    top: 50px;
    left: 100px;
    height: 100px;
    width: 100px;
    position: relative;

}
.anime{
    width: 100px;
    height: 100px;
    background-color: red;
    animation: grow-shrink 2s infinite alternate;
}
@keyframes grow-shrink {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}

#button{
    background-color: #fbfbfd;
    border-color: #fbfbfd;
    border-style: none;

}
#button:hover{
    background-color: rgb(208, 250, 236)
;}