#Text1{
    font-size: 15px; font-family: Georgia, 'Times New Roman', Times, serif; color: goldenrod; font-weight: 600;
    font-style: italic;
}

#des {font-size: 15px; font-family: Verdana, Geneva, Tahoma, sans-serif;color: aquamarine; font-weight: 600;
    font-style: oblique;

}
.Textgroup{
    font-size: large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: blue; font-style: italic;
    font-weight: 600;}

div p{
    background-color: none;
}
 

ul>li{
    list-style-type: none; color: black; ; font-style: italic;
    ;
}

nav ul{
    margin: 0;
    padding: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    background-color: black;

    
    
}
nav ul li{
    display: inline-block;
    margin-right: 10px;
    text-shadow: 1px;
    
}
nav ul li a{
    text-decoration: wavy;
    color: #333;
    padding: 10px;
    border-radius: 10px;
    background-color: #f2f2f2;
}
nav ul li a:hover{
    background-color: aquamarine;

}
#First-Container{
    width: 100%;
    height: 500px;
    padding: 20px;
    border: 2px solid white;
    margin: 0px;
    background-color: white;


}
#Second{
    width: 100%;
    height: 500px;
    padding: 20px;
    border: 2px solid black;
    margin: 0px;
    background-color: black;


}
#Third{
    width: 100%;
    height: fit-content;
    padding: 0px;
    border: 2px solid black;
    margin: 0px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;


}
#Fourth{
    width: 100%;
    height: fit-content;
    padding: 0px;
    border: 2px solid black;
    margin: 0px;
    background-color: black;
    display: flex;
    flex-direction: row;


}

.Division{
    width: 50%;
    height: 500px;
}

#Division1{
    background-color: white;
    
    

}
#Division2{
    background-color: black;
    
   
}